:root{
    --pink: rgb(95, 95, 220);
    --black: #101116;
    --gray: #bebebe;
    --light-gray: #d9d9d9;
    --comment-box: #171B27;
    --comment:#555D68;
    --comment-date:#8A8A8A;
    --warning:#E22C2C;
    --yellow:#EEE62F;
}

::-webkit-scrollbar{
    width: 18px;
}
::-webkit-scrollbar-track{
    background: var(--comment-box);
}
::-webkit-scrollbar-thumb{
    background: var(--comment);
}


a{
    text-decoration: none;
}
i{
    cursor: pointer;
}
li{
    list-style-type: none;
}
img{
    cursor: pointer;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Montserrat',sans-serif;
    background-color: #0B1118;
    z-index: 55;
}


/* container */
.container{
    width: 100%;
    z-index: 55;
}
.container .header{
    width: 100%;
    height: 70px;
    padding: 2rem 10%;
    z-index: 55;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0B1118;
}


/* navbar */
.header .logo h1{
    color: var(--pink);
    font-size: 2.4rem;
    cursor: pointer;
    font-family: 'Lemon',cursive;
}
.navBar .nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.navBar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.navBar ul li a{
    color: #fff;
    font-size: 1.15rem;
    font-weight: 600;
    transition: color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
}
.navBar ul li a:hover{
    color:rgb(95, 95, 220) ;
}
.navBar .user i{
    font-size: 1.3rem;
    color: #fff;
    transition: color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
}

.navBar .user i:hover{
    color:#007bff;
}

.navBar .close-btn i{
    font-size: 2.4rem;
    color: #fff;
    position: absolute;
    top: 2rem;
    right: 3rem;
    display: none;
}

.header .navBar .open-btn{
    position: absolute;
    right: 4rem;
    top: 1.5rem;
    color: #fff;
    font-size: 2rem;
    display: none;
}
.section {
    padding-top: 70px; 
    scroll-margin-top: 70px;
}
.space{
    background-color: black;
}


/* homepage  */

.bg {
    background-image: url('../img/bg/back.jpg');
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10%;
}

/* .about */

.about-section {
    position: relative;
    padding: 50px 20px;
    margin-top: 50px;
    color: #fff;
}

.about-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.con {
    position: relative;
    z-index: 2;
    max-width: 800px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 30px;
}

.con h2 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.con p {
    color: #666;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 15px;
}

.con button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.con button:hover {
    background-color:rgb(95, 95, 220);
}

/* user */
.user {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 200px;
}

.user li {
    cursor: pointer;
    font-size: 24px;
    color: #333;
}
.user li i:hover {
    color: #007bff;
}

.user li i:active {
    transform: scale(0.9); 
    color:#007bff ;
}

.fa-solid.fa-magnifying-glass {
    position: relative;
    font-size: 28px;
    color: #007bff;
    transition: color 0.3s ease;
}

.fa-solid.fa-magnifying-glass:hover {
    color: #0056b3;
}


/* popup */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 300px;
    text-align: center;
}

.popup.active {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #999;
}

.popup .close-btn:hover {
    color: #333;
}

 

/* Notification content */

#bellPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 80%;
    max-width: 400px; 
    padding: 20px;
    overflow: hidden;
  }
  
 
  #bellPopup .notification-box header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  #bellPopup .close-btn {
    cursor: pointer;
    font-size: 24px;
    color: #999999;
    transition: color 0.3s ease;
  }
  
  #bellPopup .close-btn:hover {
    color: #333333;
  }
  
  #bellPopup .notification-container {
    text-align: center;
    margin-bottom: 15px;
  }
  
  #bellPopup #title {
    font-size: 1.5rem;
    color: #333333;
    margin: 0;
  }
 
  #bellPopup .notification-content {
    font-size: 1rem;
    color: #666666;
    line-height: 1.6;
  }
  
  #bellPopup .notification-content p {
    margin: 0;
  padding: 8px 0;
  }
  
  #bellPopup.active {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .overlay.active {
    display: block;
  }
  

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  

/* login/signup */

.form-box {
    position: relative;
}

.form-box header h1 {
    margin-bottom: 20px;
    color: #007bff;
}

.form-box input[type="text"],
.form-box input[type="email"],
.form-box input[type="password"] {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-box input[type="button"],
.form-box input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-box input[type="button"]:hover,
.form-box input[type="submit"]:hover {
    background-color: black;
}

.form-box a {
    display: block;
    margin: 10px 0;
    color: #007bff;
    text-decoration: none;
}

.form-box a:hover {
    text-decoration: underline;
}

.signup a {
    color: #007bff;
}

.signup a:hover {
    text-decoration: underline;
}

.form-box .checkbox {
    text-align: left;
    margin: 10px 0;
}

.form-box .checkbox input {
    margin-right: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -45%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}






/* new releases */

.slider-container{
    width: 100%;
    margin: 10% auto 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 80px;
}
.slider-container .owl-container{
    width: 90%;
    margin: 1.5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.slider-container .slider-content{
    margin: 0 5%;
}
.slider-content h1{
    color: #fff;
    font-weight: 600;
    font-size: 2.5rem;

    margin-bottom: 30px;
}


.owl-theme{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.cards{
    width: 200px;
    height: 400px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.cards .card-img{
    width: 200px;
    height: 250px;
    position: relative;
}

.card-img img{
    width: 100%;
}
.card-img .img-title{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 45px;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.img-title h4{
    font-size: 0.8rem;
}
.img-title p{
    font-size: 0.6rem;
}
.cards .card-title{
    text-align: center;
    margin-top: 0.7rem;
}

.card-title h3{
    color: #fff;
    font-size: 0.8rem;
    font-weight: 500;
}
.card-title p{
    color: var(--comment-date);
    font-weight: 400;
    font-size: 0.65rem;
    margin-top: 0.4rem;
}
.owl-nav{
    display: none;
}
.owl-dot{
    display: none;
}
.owl-stage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}



/* movies */

.movies{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
}
.movies-title{
    width: 90%;
    margin: 0 auto;
}
.movies-title h1{
    color: #fff;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.movies-ctg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 90%;
    margin: 1.5rem auto;
}

.movies-ctg .btn{
    margin-top: 1rem;
    width: 160px;
    height: 40px;
    background-color: #d9d9d9;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border: 3px solid #d9d9d9;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Montserrat',sans-serif;
    color: var(--black);
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.movies-ctg .btn:hover{
    
    background-color: var(--pink);
}

.movies-card{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);
    margin: 1rem 5%;
}



/* subscription */

.subscribe{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/bg/subscribe.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 5%;
}

.subscribe .subs-content{
    width: 600px;
}
.subs-content h3{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
}
.subscribe .subs-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subs-btn .email{
    width: 225px;
    height: 40px;
    background-color: transparent;
    font-family: 'Montserrat',sans-serif;
    color: #d9d9d9;
    padding: 0 1rem;
    border: 2px solid var(--pink);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    position: relative;
}
.subs-btn .email:focus{
    border: 2px solid var(--pink);
    outline: none;
}
.subs-btn .email::placeholder{
    color: var(--comment);
}

.subs-btn .input-btn{
    position: relative;
    left: -5px;
    width: 125px;
    height: 40px;
    background-color: var(--pink);
    color: #fff;
    font-family:'Montserrat',sans-serif;
    font-weight: 600;
    border: none;
    outline: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.subs-btn .input-btn:hover{
    background-color: #d9d9d9;
    color: var(--pink);
}


/* footer */

.footer{
    position: relative;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background-color: #171B27;
}

.footer div{
    height: 60px;
}
.footer h4{
    color: #d9d9d9;
    margin-top: 0.4rem;
    font-weight: 500;
    cursor: pointer;
}
.footer .footer-social{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.footer-social i{
    width: 29px;
    height: 29px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--pink);
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.footer-social i:hover{
    background-color: var(--black);
    color: var(--pink);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


/* 
adjusting in all devices */


@media(max-width:1200px){
    .header .navBar .nav-items{
        display: none;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--pink);
        transition: top 1s ease;
        -webkit-transition: top 1s ease;
        -moz-transition: top 1s ease;
        -ms-transition: top 1s ease;
        -o-transition: top 1s ease;
    }
    .header .navBar .list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header .navBar .list a{
        font-size: 1.35rem;
    }
    .navBar .list a:hover{
        color: var(--comment-box);
    }
    .header .navBar .list .close-btn i{
        display: block;
    }
    .header .navBar .open-btn{
        display: block;
    }
    .navBar .user{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 55;
    }
    .navBar .user li i{
        font-size: 1.5rem;
    }
    .navBar .user li i:hover{
        color: var(--comment-box);
    }

    .swiper-container{
        width: 50%;
    }
    .swiper-container .type p{
        font-size: 0.9rem;
    }
    .swiper-container .type .line{
        height: 15px;
    }
    .swiper-container .movie-title{
        width: 95%;
    }
    .swiper-container .movie-title h2{
        font-size: 1.4rem;
    }
    .swiper-container .movie-title p{
        font-size: 0.75rem;
    }
    .swiper-container .movie-rating{
        width: 85%;
    }
    .swiper-container .movie-rating p{
        font-size: 0.8rem;
    }

    .movie-btn .btn-1,
    .movie-btn .btn-2{
        width: 125px;
        height: 30px;
        font-size: 0.8rem;
    }

    .movies-ctg{
        width: 100%;
        padding:  0 5%;
    }
    .movies-ctg .btn{
        width: 110px;
        height: 30px;
        font-size: 0.8rem;
    }
    .movies-card{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,1fr);
        gap: 1rem;
    }

    .subscribe{
        height: 300px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 0 5%;
    }

    .subscribe .subs-content{
        width: 90%;
        padding: 0 7%;
    }
    .subs-content h3{
        font-size: 1.25rem;
    }
    .subs-btn{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    .subs-btn .email{
        width: 175px;
        height: 30px;
        font-size: 0.65rem;
    }
    .subs-btn .input-btn{
        width: 80px;
        height: 30px;
        font-size: 0.5rem;
    }

    .footer{
        height: 500px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 2rem;
    }
}


@media(max-width:768px){
    .movies-ctg .btn{
        width: 90px;
        height: 20px;
        font-size: 0.6rem;
        margin: 0.5rem;
    }
    .movies-card{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(6,1fr);
        gap: 0.8rem;
    }
    .subs-content h3{
        font-size: 0.85rem;
        width: 80%;
        margin: 0 auto;
    }
}


